<div class="site-branding-area">
    <div class="container-md">
        <div class="row brand-area ">
            <div class="col-md-6 col-sm-12">
                <div class="logo">
                    <h1><a href="./"><img src="../../assets/img/logo.png"></a></h1>
                </div>
            </div>
            
            <div class="col-md-6 co-sm-12 ">
                <div class="shopping-item ms-auto">
                    <a routerLink="cart" routerLinkActive="active">Cart - <span class="cart-amunt">${{totalprice}}</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{cartno}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div> 
