<!-- <ul class="product-tab" >
    <li  class="active"><a routerLink="{outlets:{child:'description'}}" >Description</a></li>
    <li ><a routerLink="{outlets:{child:'reviews'}}">Reviews</a></li>
</ul> -->
<mat-divider></mat-divider>
<mat-tab-group animationDuration="0ms" color="primary" backgroundColor="primary">
    <mat-tab  label="Description" color="primary">
        <div >
            <h2 class=" mt-4">Product Description</h2>  
            <p class="small">{{description}}</p>
        
            <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non malesuada sem accumsan in. Morbi vel sodales libero.</p>
        </div>
    </mat-tab>
    <mat-tab label="Reviews">
        <div  >
            <h2 class=" mt-4">Reviews</h2>
            <div class="submit-review">
                <p><label for="name">Name</label> <input name="name" type="text"></p>
                <p><label for="email">Email</label> <input name="email" type="email"></p>
                <div class="rating-chooser">
                    <p>Your rating</p>
        
                    <div class="rating-wrap-post">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                <p><input type="submit" value="Submit"></p>
            </div>
        </div>
        
    </mat-tab>
   
  </mat-tab-group>
 