<div class="slider-area">
  
   <div class="block-slider block-slider4">
             

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active py-3">
            <img src="../../assets/img/h4-slide.png" alt="Slide" class="w-100 ">
            <div class="caption-group animate__animated animate__fadeInDown animate__delay-1s">
                <h2 class="caption title">
                    iPhone <span class="primary">6 <strong>Plus</strong></span>
                </h2>
                <h4 class="caption subtitle">Dual SIM</h4>
                <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
            </div>
          </div>
          <div class="carousel-item py-3">
            <img src="../../assets/img/h4-slide2.png" alt="Slide" class="w-100 ">
                <div class="caption-group bag animate__animated animate__fadeInDown animate__delay-1s">
                    <h2 class="caption title">
                        by one, get one <span class="primary">50% <strong>off</strong></span>
                    </h2>
                    <h4 class="caption subtitle">school supplies & backpacks.*</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
          </div>
          <div class="carousel-item py-3">
            <img src="../../assets/img/h4-slide3.png" alt="Slide" class="w-100 ">
                <div class="caption-group animate__animated animate__fadeInDown animate__delay-1s">
                    <h2 class="caption title">
                        Apple <span class="primary">Store <strong>Ipod</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Select Item</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
          </div>
          <div class="carousel-item py-3">
            <img src="../../assets/img/h4-slide4.png" alt="Slide" class="w-100 ">
                <div class="caption-group animate__animated animate__fadeInDown animate__delay-1s">
                  <h2 class="caption title">
                        Apple <span class="primary">Store <strong>Ipod</strong></span>
                    </h2>
                    <h4 class="caption subtitle">& Phone</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <div class="circle">

                <i class="fa-solid fa-angle-left"></i>
            </div>
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <div class="circle">

                <i class="fa-solid fa-angle-right"></i>
            </div>
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"> </span> -->
          <span class="visually-hidden"></span>
        </button>
      </div>
   </div>
</div>