
<div class="container text-center ">
<div class="py-2 mb-5">
    <div class="latest-product ">
        <h2 class="section-title ">Latest Products</h2>
    <owl-carousel-o [options]="customOptions" class="position-relative height pt-5" >
        <ng-template carouselSlide *ngFor="let item of products">
            <div class="single-product ">
                <div class="product-f-image">
                    <img [src]="item.imageCover
                    " alt="" class="w-100 ">
                    <div class="product-hover">
                        <a routerLink="" (click)="addelementtocart(item._id)" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a [routerLink]="['/singleproduct',item.id]"  class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>
                
                <h2><a href="single-product.html">{{item.title|cut}}</a></h2>
                
                <div class="product-carousel-price">
                    <ins>{{item.price}}</ins> <del class="ms-2">${{item.ratingsAverage}}</del>
                </div> 
            </div>
        </ng-template>  
        <!-- <ng-template carouselSlide>
            <div class="single-product">
                <div class="product-f-image">
                    <img src="../../assets/img/product-2.jpg" alt="" class="w-100">
                    <div class="product-hover">
                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>
                
                <h2>Nokia Lumia 1320</h2>
                <div class="product-carousel-price">
                    <ins>$899.00</ins> <del>$999.00</del>
                </div> 
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="single-product">
                <div class="product-f-image">
                    <img src="../../assets/img/product-3.jpg" alt="" class="w-100">
                    <div class="product-hover">
                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>
                
                <h2>LG Leon 2015</h2>

                <div class="product-carousel-price">
                    <ins>$400.00</ins> <del>$425.00</del>
                </div>                                 
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="single-product">
                <div class="product-f-image">
                    <img src="../../assets/img/product-4.jpg" alt="" class="w-100">
                    <div class="product-hover">
                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>
                
                <h2><a href="single-product.html">Sony microsoft</a></h2>

                <div class="product-carousel-price">
                    <ins>$200.00</ins> <del>$225.00</del>
                </div>                            
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="single-product w-100">
                <div class="product-f-image">
                    <img src="../../assets/img/product-6.jpg" alt="" class="w-100">
                    <div class="product-hover">
                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>
                
                <h2><a href="single-product.html">Samsung gallaxy note 4</a></h2>

                <div class="product-carousel-price">
                    <ins>$400.00</ins>
                </div>                            
            </div>
        </ng-template>   -->
      </owl-carousel-o>
</div>
</div>

</div>