
<div class="brands-area pt-5">
    <div class="zigzag-bottom"></div>
    <div class="container">
<owl-carousel-o [options]="customOptions" class="position-relative height " >
    <ng-template carouselSlide *ngFor="let item of brands" >
        <div class="brand-wrapper">
            <div class="brand-list">
                <img [src]="item.image" alt="" class="w-100">
                                       
            </div>
        </div>
    </ng-template>  
    <!-- <ng-template carouselSlide >
        <div class="brand-wrapper">
            <div class="brand-list">
                <img src="../../assets/img/brand2.png" alt="" class="w-100">
                                       
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide >
        <div class="brand-wrapper">
            <div class="brand-list">
                <img src="../../assets/img/brand3.png" alt="" class="w-100">
                                       
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide >
        <div class="brand-wrapper">
            <div class="brand-list">
                <img src="../../assets/img/brand4.png" alt="" class="w-100">
                                       
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide >
        <div class="brand-wrapper">
            <div class="brand-list">
                <img src="../../assets/img/brand5.png" alt="" class="w-100">
                                       
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide >
        <div class="brand-wrapper">
            <div class="brand-list">
                <img src="../../assets/img/brand1.png" alt="" class="w-100">
                                       
            </div>
        </div>
    </ng-template>   -->
</owl-carousel-o>
    </div>
</div>
